<div id="dvAcceptBuildingInfoWin" class="mapInnerBox type2">   
	<div class="mibHeader">
		<span class="titIcon acceptbuilding">건축허가</span>
	</div>   
	<div class="mibBody">		
		<div class="tableType">			
			<table class="tableStyle borderStyle left">				
				<tbody>					
				<tr>						
					<th>대지위치</th>						
					<td><span id="aDaejiwichi"></span></td>					
				</tr>					
				<tr>						
					<th>허가구분</th>						
					<td><span id="aAcceptgubun"></span></td>					
				</tr>					
				<tr>						
					<th>허가신고일</th>						
					<td><span id="aAcceptsingoil"></span></td>					
				</tr>
				<tr>						
					<th>건축구분</th>						
					<td><span id="aBuildingGubun"></span></td>					
				</tr>
				<tr>						
					<th>대지면적(㎡)</th>						
					<td><span id="aDaejiArea"></span></td>					
				</tr>	
				<tr>						
					<th>연면적(㎡)</th>						
					<td><span id="aGrossFloorArea"></span></td>					
				</tr>
				<tr>						
					<th>용적률(%)</th>						
					<td><span id="aYongjeoglyul"></span></td>					
				</tr>
				<tr>						
					<th>주용도</th>						
					<td><span id="aMainYongdo"></span></td>					
				</tr>								
				</tbody>			
			</table>
		</div>
	</div>	
	<div class="mibfooter">	
		<button type="button" id="btnAcceptBuildingPano" class="positionView" data-name="위치보기">위치보기</button>	
		<button type="button" id="btnAcceptBuildingDetail" class="link" data-name="물건상세조회">물건상세조회</button>
        <button type="button" id="btnAcceptBuildingThumbClose" class="close">닫기</button> 	
	</div>
</div>