<div class="modal-dialog alertBox" role="document"><!-- alert//메세지 모달은 반드시 class명 alertBox 추가 -->
	<div class="modal-content">		
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="alertCont">
				<span class="iconBlock"></span>

				<p class="alertText">					
					로그인을 해주세요
				</p>
				<p class="alertSubText">
					현재 이곳은 만약 기본 텍스트말고 sub 설명이 들어가는 곳입니다. 필요시만 사용
				</p>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" id="btnAlrt" class="btnstyle middle black" data-dismiss="modal" style="">닫기</button>
		</div>
	</div>
</div>