<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 id="enlargeImageModalTitle" class="modal-title">{{title}}</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="imageViewBox">
				<img id="enlargeImageModalSource" src="{{src}}"/>
			</div>			
		</div>
	</div>
</div>