<div class="modal-dialog" role="document">
	<div class="modal-content">
		
		<div class="modal-header">
			<h2 class="modal-title">서비스 소개</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>

		<div class="modal-body">

			<div class="tabWrap dvCompany">				
				
				<div class="tab-head">
					<ul class="nav-tabs">
						<li class="tabLink active">
							<button href="#tabBoxComapny01" data-toggle="tab"><span class="text">서비스 소개</span></button>
						</li>
						<li class="tabLink">
							<button href="#tabBoxComapny02" data-toggle="tab"><span class="text">이용요금 안내</span></button>
						</li>
						<li class="tabLink">
							<button href="#tabBoxComapny03" data-toggle="tab"><span class="text">개발사소개</span></button>
						</li>
					</ul>
				</div>

				<div class="tab-content" style=""> <!-- 해당 부분은 실제 컨텐츠를 넣어보고 수정보완함 -->

					<!-- ----------------------- -->
					<!-- 서비스 소개 -->
					<div id="tabBoxComapny01" class="tab-pane active">
						
						<!-- 핫플레이스25? -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black">1. 핫플레이스25?</span>
							</div>
							<div class="unit_cont cpItemHotplaceis">
								<div class="companyTextBox">
									<span class="imgBox"><img src="resources/img/gnb_logo.png" /></span>
									
									<span class="text">
										법률과 데이터에 기반하여 <strong>토지이용규제 해소 물건과 보상투자 물건</strong> 등 <strong class="color_blue">투자유망물건 정보</strong>를 <strong class="color_block">제공하는 서비스</strong>입니다.
										<br/>
										회원여러분들의 성공투자를 약속드립니다.
									</span>
								</div>
							</div>
						</div>

						<!-- 서비스의 개발배경 -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black">2. 서비스의 개발배경(이런분들께 권장합니다)</span>
							</div>
							<div class="unit_cont cpItemDevBack">
								<div class="companyTextBox">
									투자유망물건을 쉽게 찾을 수 있는 서비스를 제공하기 위해 개발했습니다.
								</div>
								<div class="imgBox">
									<img src="resources/img/company_img_00.png" />
									<!--
									<div class="contUnit">
										<span class="textBox">토지투자를 하려는데 어느지역에 투자해야하나요? 다들 얘기가 너무 달라요</span>
										<img src="resources/img/company_img_01.png" />
									</div>

									<div class="contUnit">
										<span class="textBox">우리회사는 이런일을 하는데.. 혹시 이런정보(데이터)도 있나요? 이런 물건정보는 없나요?</span>
										<img src="resources/img/company_img_02.png" />
									</div>

									<div class="contUnit">
										<span class="textBox">투자유망 부동산을 찾는 고객들은 많은데, 추천할 물건을 찾기 어려워요</span>
										<img src="resources/img/company_img_03.png" />
									</div>
									-->
									
								</div>
							</div>
						</div>

						<!-- 서비스의 특징 -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black">3. 서비스의 특징</span>
							</div>
							<div class="unit_cont">
								<div class="companyTextBox serviceSec">
									<dl style="width:33.33%;">
										<dt>1. 실시간 테이터 수집/분석</dt>
										<dd>부동산의 가치에 영향을 미치는 모든(정형/비정형) Data의 자동(실시간) 수진/분석 시트템구축</dd>
										<dd>Data 정확성/신뢰도의 (자동)자체검증</dd>
									</dl>

									<dl style="width:33.33%;">
										<dt>2. 미래 예측 가능(수익률 자동 분석 등)</dt>
										<dd>시계열 Data 분석을 통해 1~2년후 부동산 가치 예측</dd>
										<dd>예상 수익률 자동 분석</dd>
										<dd>종합분석 결과 및 분석 인자별 시계열 Heat Map정보 제공</dd>
									</dl>

									<dl style="width:33.33%;">
										<dt>3. 투자 유망지역(물건) 정보 서비스</dt>
										<dd>투자 유망 지역 정보(실시간 단가 증가율 상승 지역 등) 제공</dd>
										<dd>토지이용규제제도(도시계획시설 등) 해소 물건 등 투자유망 물건 정보(시차 활용 투자 등) 제공</dd>
									</dl>
								</div>
								<div class="center serviceSecImg">
									<img src="resources/img/company_img_10.png"/>
								</div>
							</div>
						</div>

						<!-- 주요기능 -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black">4. 주요기능</span>
							</div>
							<div class="unit_cont cpItemFunctionBox">
								<dl class="cpItemFunction">
									<dt>주소검색</dt>
									<dd>전국 모든 필지의 주소검색을 통해 토지이용규제 변경이력 등 확인 가능</dd>
									<dd>검색 필지 주변의 개발사업/행위허가 등 현황 파악 가능</dd>
								</dl>

								<dl class="cpItemFunction">
									<dt>투자 유망 물건 검색</dt>
									<dd>(장기미집행)도시계획시설 물건 등 토지이용규제 물건 검색</dd>
									<dd>부동산 가치 제고가 가능한 개발적성 필지 검색</dd>
								</dl>


								<dl class="cpItemFunction">
									<dt>경공매 물건 검색</dt>
									<dd>토지이용규제 조건별 경공매 물건 검색</dd>
									<dd>보상 및 편입 공고 물건과 매칭 물건 정보 제공</dd>
								</dl>


								<dl class="cpItemFunction">
									<dt>위치보기</dt>
									<dd>경공매 물건, 실거래가 물건 등 도면상에서 확인 가능</dd>
									<dd class="noBullet">&nbsp;</dd>
								</dl>

								<dl class="cpItemFunction">
									<dt>(자동)수지분석</dt>
									<dd>부동산 빅데이터 분석 결과를 반영하여 물건에 대한 자동 수지분석</dd>
									<dd>최소 2~3일 소요되던 수지분석이 클릭 몇 번으로 가능</dd>
								</dl>

								<dl class="cpItemFunction">
									<dt>HeatMap 보기</dt>
									<dd>전국 모든 필지를 위경도 좌표 기반 25m×25m 규모의 Cell단위로 분석</dd>
									<dd>건축허가, 영업허가, 개발행위허가 등의 정보를 Cell 단위 Heat Map으로 분석</dd>
								</dl>

								<dl class="cpItemFunction">
									<dt>컨설팅(투자타당성검토) 서비스</dt>
									<dd>세부적인 물건분석 의뢰시 전문가 그룹의 투자타당성검토 서비스 제공</dd>
									<dd class="noBullet">&nbsp;</dd>
								</dl>
							</div>
						</div>
					</div>
					<!-- //서비스 소개 -->

					
					<!-- ----------------------- -->
					<!-- 이용요금 안내 -->
					<div id="tabBoxComapny02" class="tab-pane">
						<!-- 이용요금 안내 -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black noBullt">서비스 이용 안내</span>
							</div>
							<div class="unit_cont bgWhite companyImgTable">
								<table class="tableStyle gridStyle  topBold center">
									<colgroup>
										<col style="width:10%;">
										<col style="width:30%;">
										<col style="width:20%;">
										<col style="width:40%;">
									</colgroup>
									<thead>
										<tr>
											<th colspan="2" class="center">구분</th>
											<th class="center">이용료</th>
											<th class="center">비고</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th rowspan="4" class="center">개별 서비스</th>
											<th class="center">투자유망지역 검색</th>
											<td>5만원 / 월</td>
											<td>도시계획시설, 토지이용규제 등 검색</td>
										</tr>
										<tr>
											<th class="center">경공매 검색</th>
											<td>5만원 / 월</td>
											<td>토지이용규제 등 검색</td>
										</tr>
										<tr>
											<th class="center">물건보기</th>
											<td>5만원 / 월</td>
											<td>경매/공매/보상/편입/실거래/건축허가</td>
										</tr>
										<tr>
											<th class="center">히트맵보기</th>
											<td>5만원 / 월</td>
											<td>공시지가/보상물건/실거래가 등</td>
										</tr>
										<tr>
											<th rowspan="2" colspan="2" class="center">전체서비스</th>
											<th class="center">월간</th>
											<td>정가: 20만원 /월  &nbsp;&nbsp; <span style="font-weight:bold; color:#ff0000;">할인가: 10만원 / 월</span></td>
										</tr>
										<tr>
											<th class="center">년간</th>
											<td>정가: 240만원 / 년  &nbsp;&nbsp; <span style="font-weight:bold; color:#ff0000;">할인가: 99만원 / 년</span></td>
										</tr>
										<tr>
											<th rowspan="2" colspan="2" class="center">입금계좌정보</th>
											<td colspan="2">계좌번호: 542-910013-13904 (하나은행) &nbsp;&nbsp; 예금주: 핫플레이스25경영컨설팅 주식회사 </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //이용요금 안내 -->

					<!-- ----------------------- -->
					<!-- 회사소개 -->
					<div id="tabBoxComapny03" class="tab-pane">
						<!-- 회사소개 -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black noBullt">개발사소개</span>
							</div>
							<div class="unit_cont">
								<div class="center companyImg">
									<img src="resources/img/company_img_30.jpg"/>
								</div>
								<div class="center bgWhite companyImgTable mgT20">
								
									<table class="tableStyle gridStyle topBold left">
										<colgroup>
											<col style="width:15%;">
											<col style="width:35%;">
											<col style="width:15%;">
											<col style="width:35%;">
										</colgroup>
										<tbody>
											<tr>
												<th><span >상호</span></th>
												<td>(주) 동림피엔디</td>
												<th><span >대표자</span></th>
												<td>이인재,박민대,이석우,김웅태</td>
											</tr>
											<tr>
												<th><span >소재지</span></th>
												<td>서울특별시 송파구 법원로 127<br>11층 1108호(문정동 대명벨리온)</td>
												<th><span >전화번호 / FAX </span></th>
												<td>02)407-1342 / 02)407-1394</td>
											</tr>
											<tr>
												<th><span >설립일</span></th>
												<td>2002. 7. 25</td>
												<th><span >사업내용</span></th>
												<td>도시계획 / 교통 / 환경 / 조경</td>
											</tr>
											<tr>
												<th><span >주요 수상이력</span></th>
												<td colspan="3">
													국토교통부장관 표창, 환경부장관 표창, 서울특별시 ‘2030 서울시 생활권계획 수립’ 유공 표창 등 수상<br/>
													서울특별시 ‘하이서울 브랜드 기업’ 선정<br/>
													국토교통부 새뜰마을사업 중앙지원단 위원 / 중앙건설기술심의 위원회 위원 / 교통영향분석·개선대책심의위원회 위원, 해양수산부 신항만 건설위원회 위원, 한국자산관리공사 국유재산 관리위원회 자문 위원 등
												</td>
											</tr>
											<tr>
												<th><span>보유특허</span></th>
												<td colspan="3">
													경사지의 생태복원장치(제10-1790710호, ㈜동림피엔디, 박민대)<br/>
													비오톱에 의한 수질정화 생태방틀 설치구조(제10-1790930호, ㈜동림피엔디, 박민대)<br/>
													환경모니터링부를 구비한 생태복원장치(제10-1790995호, ㈜동림피엔디, 박민대)<br/>
													자연형 비점처리장치(제10-1793057호, ㈜동림피엔디 / ㈜엔포텍디에스, 박민대)<br/>
													버드 스트라이크 방지용 투명 방음판(제10-1801525호, ㈜동림피엔디, 박민대)<br/>
													도로 시설물용 지주 보호커버(제10-1814955호㈜동림피엔디,김웅태)<br/>
													횡단보도 보행자 안전을 위한 신호 제어방법(제10-1814954호, ㈜동림피엔디, 김웅태)<br/>
													도시조사 분석 서비스 제공서버(제10-1825559호, ㈜동림피엔디, 이석우)
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- 오시는길 -->
						<div class="unit">							
							<div class="unit_tit">
								<span class="sTit color_black noBullt">오시는길</span>
							</div>
							<div class="unit_cont">
								<div class="center companyMap bgWhite">
									<img src="resources/img/company_img_31.png"/>
								</div>

								<!--<div class="companyMapText">
										<strong class="color_blue"> 주소 :</strong> (우)05836	서울 송파구 법원로 127, 11층 1108호(문정동 대명벨리온)
										<br/><br/>
										<strong class="color_blue">TEL :</strong> 02)407-1342 
										&nbsp;&nbsp;&nbsp;&nbsp;
										|
										&nbsp;&nbsp;&nbsp;&nbsp;
										<strong class="color_blue"> FAX : </strong> 02)407-1394
									</div>-->
								</div>
							</div>
						</div>

					</div>
					<!-- //회사소개 -->
				</div>

			</div>

		</div>

		<!--<div class="modal-footer">
			<button type="button" class="btnstyle middle blue" data-dismiss="modal" onclick="javescript:alert('test');">Save changes</button>
			<button type="button" class="btnstyle middle gray" data-dismiss="modal">Close</button>
		</div>-->
	</div>
</div>