<div class="modal-dialog" role="document">
	<div class="modal-content">
		
		<!--
		<div class="modal-header">
			
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		-->

		<div class="modal-body">
			<div class="dvIntro" style="height:540px;">
				<div class="openImg">OPEN</div>
				<div class="textBox">
					<div class="mText">
						<strong class="color_red">HOTPLACE25</strong>에 방문하신 것을 환영합니다.
					</div>
					<div class="mgT30">
						법률과 Data에 기반한 부동산 가치분석 시스템인<br/>
						<strong class="color_red">HOTPLACE25</strong>는 지속적인 연구개발로<br/>
						차원이 다른 정보와 서비스를 제공하겠습니다.<br/> 
						회원 여러분들의 성공투자를 기원합니다.
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<span class="rdchBox fl">
				<input type="checkbox" id="chkIntroCookie" />
				<label for="chkIntroCookie" class="labelCh"><em class="text">다시 보지 않기</em></label>
			</span>
			<button type="button" id="btnIntroMainClose" class="btnstyle middle blue fr" data-dismiss="modal">닫기</button>
		</div>
	</div>
</div>