<div class="modal-dialog" role="document">
	<div class="modal-content">
		
		<div class="modal-header">
			<!--<h2 class="modal-title">Modal title</h2>-->
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		
		<div class="modal-body bgGray">
			<div class="loginBox">
				
				<div class="title">LOGIN</div>
				
				<form class="inputArea" id="loginFm">
					<input type=""text class="inp id"  placeholder="아이디" id="id" name="id"/>
					<input type="password" class="inp pw"  placeholder="비밀번호"  id="pw" name="pw"/>

					<button type="button" class="btnLogin" id="btnLogin">LOGIN</button>
				</form>
				
				<div class="joinLink">
					<a href="javascript:void(0);" id="joinBtn" class="underline" data-dismiss="modal">회원가입</a>
					<a href="javascript:void(0);" id="searchPwBtn" class="underline" data-dismiss="modal">비밀번호찾기</a>
				</div>
			</div>
		</div>
	</div>
</div>