<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">
				{{address}}
			</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<table class="tableStyle borderStyle">
				<tbody>
				<tr>
					<td>
						<div id="dvCommonPano" class="mulgeon-pano"></div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="dvCommonPanoInfo" class="pano-info"></div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
		