<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">
				경,공매 선택
			</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="ambicon-015_mark_times"></i><span class="hidden">닫기</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="unit">
				<div class="unit_cont">
					<div class="topInfoBox">
						해당 물건은 경,공매 모두 해당됩니다.<br/>
						하나를 선택하세요.
					</div>
				</div>
				<div class="adressType">
					<span class="rdchBox inline">
						<input type="radio" id="rdoGyeong" name="gyeongGongType" value="K" checked />
						<label for="rdoGyeong" class="labelCh"><em class="text">경매정보</em></label>
					</span>
					<span class="rdchBox inline">
						<input type="radio" id="rdoGong" name="gyeongGongType" value="G"/>
						<label for="rdoGong" class="labelCh"><em class="text">공매정보</em></label>
					</span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" id="btnAlrt" class="btnstyle middle black" data-dismiss="modal" style="">확인</button>
		</div>
	</div>
</div>