<div class="modal-dialog" role="document">
	<div class="modal-content dvUpdate">
		<div class="modal-body">
			<div class="indiv" style="height:518px;">
				<div class="updateLogo">HOTPLACE 25</div>
				<div class="updateImg">UPDATE</div>
				<div class="textBox">
					<ul>
						{{{content}}}
					</ul>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" id="btnUpdateInfoClose" class="btnstyle middle blue fr" data-dismiss="modal">닫기</button>
		</div>
	</div>
</div>