<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-body">
			<div class="dvIntro" style="height:540px;">
				<div class="textBox">
					<div class="mText">
						<strong class="color_red">Hotplace25</strong> 업데이트({{version}})
					</div>
					<div class="mgT30">
						{{{content}}}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" id="btnUpdateInfoClose2" class="btnstyle middle blue fr" data-dismiss="modal">닫기</button>
		</div>
	</div>
</div>