<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	<!-- file로 log 남기기 -->
 	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/tomcat/logs/hotplace25RollingFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/usr/local/tomcat/logs/hotplace25RollingFile.%d{yyyy-MM-dd-HH}.log</fileNamePattern>

			<!-- 30시간 지난건 지우겠다 --> 
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				 ▷ %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
			</pattern>
		</encoder>
	</appender> 
	
	<logger name="com.hotplace25" level="info">
		<appender-ref ref="file"/>
	</logger>
	<logger name="org.springframework" level="info">
		<appender-ref ref="file"/>
	</logger>
	
	<!-- MyBatis mapper.xml 로그 -->
	<logger name="mappers" level="info">
		<appender-ref ref="file"/>
	</logger>
	
	<root level="info">
		<appender-ref ref="file"/>
	</root>
</configuration>