<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	<!-- console로 log 남기기 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				 ▶ %-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="com.hotplace25" level="debug" />
		
	<logger name="org.springframework" level="error" />
	
	<!-- MyBatis mapper.xml 로그 -->
	<logger name="mappers" level="debug" />
	
	<root level="debug">
		<appender-ref ref="console"/>
	</root>
</configuration>