<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mssql.hotplaceMapper">
	<select id="selectCurrentYear" resultType="string">
		select year(getDate()) - 1
	</select>
	
	<select id="selectCurrentDate" resultType="string">
		select convert(char(20), getdate(), 120)
	</select>
	
	<select id="selectGuGun" resultType="string" parameterType="string">
		select concat(code, ',"', name, '"') 
		  from (
				select distinct [시군구코드] as code,[시군구명] as name 
				  from [지번주소].[dbo].[PNU10] 
				 where [시도코드] = #{si}
				   and [시군구명] != ''
			   ) t1
	      order by name
	</select>
	
	<select id="selectRegionName" resultType="string" parameterType="Address">
		select concat(code, ',"', name, '"') 
		  from (
				select distinct [읍면동코드] as code, [읍면동명] as name 
				  from [지번주소].[dbo].[PNU10] 
				 where [시도코드] = #{si}
				   and [시군구코드] = #{gugun}
				   and [읍면동명] != ''
			   ) t1
	      order by name
	</select>
	
	<select id="selectMulgeonAddress" statementType="CALLABLE" parameterType="Address" resultType="string">
		<choose>
			<when test='type == "N"'>
			{ call  [지번주소].[dbo].[SEL_지번주소](
				#{detail, mode=IN, jdbcType=NVARCHAR, javaType=string}
			)}
			</when>
			<otherwise>
			{ call  [지번주소].[dbo].[SEL_도로명주소](
				#{detail, mode=IN, jdbcType=NVARCHAR, javaType=string}
			)}
			</otherwise>
		</choose>
	</select> 
	
	<select id="selectAddress" resultType="string" parameterType="Address">
		<if test='type == "N"'>
		select concat('"',[PNU], '","', [시도명], ' ', [시군구명], ' ', [읍면동명], ' ', [리명], <if test="san == '2'">' 산',</if> ' ', [본번숫자], '-', [부번숫자], '",',  [위도], ',', [경도], ',', [극북], ',', [극서]) 
		</if>
   		  from (
   		  		<if test='type == "N"'>
   		  		select [PNU],[필지구분코드],[본번숫자],[부번숫자],[시도명],[시군구명],[읍면동명],[리명],[위도],[경도],[극서],[극북]
   		  		</if>
				  from [지번주소].[dbo].[전국지번통합]  
			     where [시도코드] = #{si}
			       and [시군구코드] = #{gugun}
			       and [읍면동코드] = #{region}
			       <if test='type == "N"'>
			       and [필지구분코드] = #{san}
			       <if test='beonjiF != ""'>
			       and [본번숫자]= #{beonjiF}
			       </if>
			       <if test='beonjiS != ""'>
			       and [부번숫자]= #{beonjiS}
			       </if>
			       </if>
			       and [위도] is not null
			    ) tb1
	</select>
	
	<select id="selectLocationBounds" statementType="CALLABLE" resultType="string" parameterType="hashmap">
		<choose>
			<!-- 공시지가  -->
			<when test="type == 'GONGSI'">
			{call [Ranking].[dbo].[SEL_공시지가] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 공시지가  증가율-->
			<when test="type == 'GONGSI_GR'">
			 { call [Ranking].[dbo].[SEL_공시지가_증감률] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 토지이용규제완화 -->
			<when test="type == 'TOJI_LIMIT_MIN'">
			{ call [Ranking].[dbo].[SEL_PNU10_토지이용규제완화] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 개발사업면적(건수) -->
			<when test="type == 'DEV_BIZ_AREA_GEONSU'">
			{ call [Ranking].[dbo].[SEL_PNU10_개발사업면적_건수] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 개발사업면적(면적) -->
			<when test="type == 'DEV_BIZ_AREA_AREA'">
			{ call [Ranking].[dbo].[SEL_PNU10_개발사업면적_면적] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 보상물건 (건수) -->
			<when test="type == 'BOSANG_MULGEON_GEONSU'">
			{ call [Ranking].[dbo].[SEL_PNU10_보상물건_건수] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 보상물건 (면적) -->
			<when test="type == 'BOSANG_MULGEON_AREA'">
			{ call [Ranking].[dbo].[SEL_PNU10_보상물건_면적] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 개발행위허가 (건수)  -->
			<when test="type == 'ACCEPT_DEV_GEONSU'">
			{ call [Ranking].[dbo].[SEL_PNU10_개발행위허가_건수] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 개발행위허가 (면적) -->
			<when test="type == 'ACCEPT_DEV_AREA'">
			{ call [Ranking].[dbo].[SEL_PNU10_개발행위허가_면적] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 건축허가(건수) -->
			<when test="type == 'ACCEPT_BUILDING_GEONSU'">
			{ call [Ranking].[dbo].[SEL_PNU10_건축허가_건수] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 건축허가면적 (면적) -->
			<when test="type == 'ACCEPT_BUILDING_AREA'">
			{ call [Ranking].[dbo].[SEL_PNU10_건축허가_면적] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 영업허가 (건수) -->
			<when test="type == 'ACCEPT_SALES_GEONSU'">
			{ call [Ranking].[dbo].[SEL_PNU10_영업허가_건수] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 영업허가면적 (면적) -->
			<when test="type == 'ACCEPT_SALES_AREA'">
			{ call [Ranking].[dbo].[SEL_PNU10_영업허가_면적] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 실거래가  (건수) -->
			<when test="type == 'SILGEOLAE_GEONSU'">
			{ call [Ranking].[dbo].[SEL_PNU10_실거래가_건수] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
			
			<!-- 실거래가 (거래가총계) -->
			<when test="type == 'SILGEOLAE_AREA'">
			{ call [Ranking].[dbo].[SEL_PNU10_실거래가_거래가총계] (
	        	#{level, mode=IN, jdbcType=TINYINT, javaType=string},
	   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
				#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
	   		 	#{year, mode=IN, jdbcType=NVARCHAR, javaType=string}
	         )}
			</when>
		</choose>
	</select>
	
	<select id="selectGyeongmaeMarker" statementType="CALLABLE" resultType="string" parameterType="hashmap">
		<!-- select concat(a.PNU, '|$', a.고유번호, '|$', a.등록번호, '|$', a.경도, '|$', a.위도)
          from [데이터수집].dbo.경매_목록 a with (nolock, index(IX_경매_목록))
       	 inner join 좌표계.dbo.가로축13 b with (nolock) on (b.PNU=a.PNU)
       	 inner join 좌표계.dbo.세로축13 c with (nolock) on (c.PNU=a.PNU)
         inner join (select 등록번호, 위도, 경도  from  [데이터수집].dbo.경매_목록 tb1 where 매각기일 is null or 매각기일 > getdate() group by 등록번호, 위도, 경도 having 위도 is not null and 경도 is not null) d on a.등록번호 = d.등록번호 and a.위도 = d.위도 and a.경도 = d.경도
         where a.위도 between convert(float, #{swy}) and convert(float, #{ney})
           and a.경도 between convert(float, #{swx}) and convert(float, #{nex})
           and a.용도 != '자동차'
         order by a.경도 asc -->
         { call [경매].[dbo].[SEL_경매_목록] (
   		 	#{swy, mode=IN, jdbcType=FLOAT, javaType=string},
			#{ney, mode=IN, jdbcType=FLOAT, javaType=string},
			#{swx, mode=IN, jdbcType=FLOAT, javaType=string},
   		 	#{nex, mode=IN, jdbcType=FLOAT, javaType=string}
         )}
	</select>
	
	<resultMap id="RM_selectGyeongmaeThumb"  type="Gyeongmae">
		<result column="고유번호" property="goyubeonho" javaType="string" />
		<result column="사건번호" property="sageonbeonho" javaType="string" />
		<result column="등록번호" property="deunglogbeonho" javaType="string" />
		<result column="PNU" property="pnu" javaType="string" />
		<result column="소재지" property="sojaeji" javaType="string" />
		<result column="용도" property="yongdo" javaType="string" />
		<result column="유찰회수" property="yuchal" javaType="string" />
		<result column="매각기일" property="maegaggiil" javaType="string" />
		<result column="감정평가액" property="gamjeongpyeongga" javaType="string" />
		<result column="imgThumb" property="imgThumb" javaType="string" />
		<result column="imgThumbExt" property="imgThumbExt" javaType="string" />
	</resultMap>
	
	<resultMap id="RM_selectGyeongmae"  type="Gyeongmae">
		<result column="고유번호" property="goyubeonho" javaType="string" />
		<result column="등록번호" property="deunglogbeonho" javaType="string" />
		<result column="PNU" property="pnu" javaType="string" />
		<result column="사건번호" property="sageonbeonho" javaType="string"/>
		<result column="담당" property="damdang" javaType="string"/>
		<result column="소재지" property="sojaeji" javaType="string" />
		<result column="용도" property="yongdo" javaType="string" />
		<result column="입찰방법" property="ibchalbangbeob" javaType="string" />
		<result column="감정평가액" property="gamjeongpyeongga" javaType="string" />
		<result column="최저매각가격" property="minmaegaggagyeog" javaType="string"/>
		<result column="청구금액" property="cheonggu" javaType="string"/>
		<result column="유찰회수" property="yuchal" javaType="string" />
		<result column="매각기일" property="maegaggiil" javaType="string" />
		<result column="비고" property="bigo" javaType="string"/>
		<result column="사건접수일" property="sageonjeobsuil" javaType="string"/>
		<result column="배당요구종기일" property="baedangyogu" javaType="string"/>
		<result column="imgThumb" property="imgThumb" javaType="string" />
		<result column="imgThumbExt" property="imgThumbExt" javaType="string" />
		<collection property="images" column="고유번호" 
					javaType="java.util.ArrayList"
					ofType="GyeongmaeImage" 
					select="selectGyeongmaeImages"
					/>
		<collection property="giils" column="고유번호"
					javaType="java.util.ArrayList"
					ofType="GyongmaeGiilHistory"
					select="selectGyeongmaeGiilHistory"
					/>
					
		<collection property="lists" column="고유번호"
					javaType="java.util.ArrayList"
					ofType="GyeongmaeListHistory"
					select="selectGyeongmaeListHistory"
					/>
		<collection property="tonggyes" column="고유번호"
					javaType="java.util.ArrayList"
					ofType="GyeongmaeMaegagtonggye"
					select="selectGyeongmaeMaegagtonggye"
					/>
					
		<collection property="maegagmulgeons" column="고유번호"
					javaType="java.util.ArrayList"
					ofType="GyeongmaeMaegagmulgeon"
					select="selectGyeongmaeMaegagmulgeon"
					/>
					
		<collection property="jinhaengmulgeons" column="고유번호"
					javaType="java.util.ArrayList"
					ofType="GyeongaeJinhaengmulgeon"
					select="selectGyeongaeJinhaengmulgeon"
					/>
	</resultMap>
	
	<select id="selectGyeongmaeThumb" parameterType="string" resultMap="RM_selectGyeongmaeThumb">
		select  top 1 a.고유번호, a.사건번호, a.등록번호, a.PNU, a.소재지, a.용도, a.감정평가액, a.유찰회수, CONVERT(char(19), a.매각기일, 120) as 매각기일, CONVERT(varchar(max), c.이미지 ,2) as imgThumb, isnull(c.확장자, 'zzz')  as imgThumbExt
  		  from [경매].[dbo].[경매_목록] a
  		  left outer join [경매].[dbo].[경매_이미지_목록] b
  		    on a.고유번호 = b.경매_목록_고유번호
  		 left outer join [경매].[dbo].[경매_이미지_별도수집] c
  		 	on b.이미지명 = c.이미지명 and b.확장자 = c.확장자 
 		 where a.고유번호 = #{unu}
 		 order by imgThumbExt
	</select>
	
	<select id="selectGyeongmaeDetail" parameterType="map" resultMap="RM_selectGyeongmae">
		select a.고유번호, a.등록번호, a.PNU, a.사건번호, concat(a.법원명, ' | ', a.담당계) as 담당, a.소재지, a.용도, a.감정평가액, a.유찰회수,
			   CONVERT(char(19), a.매각기일, 120) as 매각기일, CONVERT(char(10), a.사건접수일, 23) as 사건접수일, CONVERT(char(10), a.배당요구종기일, 23) as 배당요구종기일,
			   a.입찰방법, a.최저매각가격, a.청구금액, a.비고
  		  from [경매].[dbo].[경매_목록] a
 		 where a.고유번호 = #{goyubeonho}
	</select>
	
	<!-- 경매이미지 -->
	<select id="selectGyeongmaeImages" resultType="GyeongmaeImage">
		select a.이미지구분 as gubun, a.이미지명 as name, a.확장자 as ext, CONVERT(varchar(max), b.이미지 ,2) as image
  		  from [경매].[dbo].[경매_이미지_목록] a
  		 inner join [경매].[dbo].[경매_이미지_별도수집] b
  		 	on a.이미지명 = b.이미지명 and a.확장자 = b.확장자
  		 where a.경매_목록_고유번호 = #{goyubeonho}
	</select>
	
	<!-- 경매기일내역 -->
	<select id="selectGyeongmaeGiilHistory" resultType="GyongmaeGiilHistory">
		select CONVERT(char(19), 기일, 120) as giil, 기일종류 as giiljonglyu, 기일장소 as giiljangso, 최저매각가격 as minmaegaggagyeog, 기일결과 as giilresult
		  from [경매].[dbo].[경매_기일내역]
		 where 경매_목록_고유번호 = #{goyubeonho}
	</select>
	
	<!-- 경매목록내역 -->
	<select id="selectGyeongmaeListHistory" resultType="GyeongmaeListHistory">
		select 목록번호 as listnum, 목록구분 as listgubun, 상세내역 as detailhistory
		  from [경매].[dbo].[경매_목록내역]
		 where 경매_목록_고유번호 = #{goyubeonho}
	     group by [경매_목록_고유번호], [목록번호], [목록구분], [상세내역]
         order by 목록번호
	</select>
	
	<!-- 경매인근매각통계 -->
	<select id="selectGyeongmaeMaegagtonggye" resultType="GyeongmaeMaegagtonggye">
		select 기간 as gigan, Round(매각건수, 0) as maegaggeonsu, 
			   LTRIM(STR(Round(평균감정가, 0), 25, 0)) as avggamjeongga,
		       LTRIM(STR(Round(평균매각가, 0), 25, 0)) as avgmaegagga,
		       Round(매각가율, 1) as maegaggaratio,
		       Round(평균유찰회수,1) as avgyuchal
		  from [경매].[dbo].[경매_인근매각통계]
		 where 경매_목록_고유번호 = #{goyubeonho}
	</select>
	
	<!-- 경매인근매각물건 -->
	<select id="selectGyeongmaeMaegagmulgeon" resultType="GyeongmaeMaegagmulgeon">
		select 사건번호 as sageonbeonho, 용도 as yongdo, 소재지 as sojaeji, 순번 as soonbeon,
			      감정평가액 as gamjeongpyeongga, 매각월 as maegagmonth, 매각대금 as maegagdaegeum
		  from [경매].[dbo].[경매_인근매각물건] 
		 where 경매_목록_고유번호 = #{goyubeonho}
	</select>
	
	<!-- 경매인근진행물건 -->
	<select id="selectGyeongaeJinhaengmulgeon" resultType="GyeongaeJinhaengmulgeon">
		select 사건번호 as sageonbeonho, 물건번호용도 as numyongdo, 소재지및내역 as sojaejinaeyeog,
			      비고 as bigo, 감정평가액 as gamjeongpyeongga, 최저매각가격 as minmaegaggagyeog,
			     담당계매각기일 as damdangmaegaggiil, 진행상태 as status
		  from [경매].[dbo].[경매_인근진행물건]
		 where 경매_목록_고유번호 = #{goyubeonho}
	</select>
	
	
	<sql id="gongmaeColumns">
		PNU, 물건관리번호, 처분방식_자산구분, 용도, 면적, 감정평가금액, 입찰방식, 입찰기간_회차_차수, 유찰횟수, case when isdate(집행기관) = 1 then '-' else 집행기관 end 집행기관, 최저입찰가_예정금액, 지번주소, 전자보증서사용여부, 차순위매수신청가능여부, 공동입찰가능여부, 2인미만유찰여부, 2회이상입찰가능여부, 대리입찰가능여부, 명도책임, 부대조건
	</sql>
	
	<!-- 공매 -->
	<select id="selectGongmaeMarker"  statementType="CALLABLE"  resultType="string" parameterType="hashmap">
       { call [수작업입력].[dbo].[SEL_공매_목록2](
       		#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{ney, mode=IN, jdbcType=DECIMAL, javaType=string}
       )}
	</select>

	<resultMap id="RM_selectGongmaeThumb" type="Gongmae" >
		<result column="PNU" property="pnu" javaType="string" />
		<result column="공매_목록_고유번호" property="goyubeonho" javaType="string" />
		<result column="물건관리번호" property="mulgeonCode" javaType="string" />
		<result column="처분방식_자산구분" property="cheoboonJasan" javaType="string" />
		<result column="용도" property="yongdo" javaType="string" />
		<result column="면적" property="area" javaType="string" />
		<result column="감정평가금액" property="gamjeongga" javaType="string" />
		<result column="입찰방식" property="ibchalMethod" javaType="string" />
		<result column="입찰기간_회차_차수" property="ibchalPeriodNumber" javaType="string" />
		<result column="유찰횟수" property="yuchal" javaType="string" />
		<result column="집행기관" property="jibhaengGigwan" javaType="string" />
		<result column="최저입찰가_예정금액" property="minIbchalga" javaType="string" />
		<result column="지번주소" property="mulgeonAddress" javaType="string" />
		<result column="상단주소" property="mulgeonAddressDetail" javaType="string" />
		<result column="전자보증서사용여부" property="jeonjaBojeungseoYN" javaType="string" />
		<result column="차순위매수신청가능여부" property="chasunwiMaesuYN" javaType="string" />
		<result column="공동입찰가능여부" property="gongdongIbchalYN" javaType="string" />
		<result column="2인미만유찰여부" property="twoPersonYN" javaType="string" />
		<result column="2회이상입찰가능여부" property="twoTimeYN" javaType="string" />
		<result column="대리입찰가능여부" property="daeliIbchalYN" javaType="string" />
		<result column="명도책임" property="myeongdoChaegim" javaType="string" />
		<result column="부대조건" property="budaeJogeon" javaType="string" />
	</resultMap>
	
	<resultMap id="RM_selectGongmaeDetail" type="GongmaeDetail" extends="RM_selectGongmaeThumb">
		<result column="위치및부근현황" property="wichiBugeun" javaType="string"/>
		<result column="이용현황" property="use" javaType="string"/>
		<result column="기타사항" property="etc" javaType="string"/>
		
		<collection property="areaList" column="공매_목록_고유번호" 
					javaType="java.util.ArrayList"
					ofType="GongmaeArea" 
					select="selectGongmaeArea"
					/>
		<collection property="ibchalList" column="공매_목록_고유번호"
					javaType="java.util.ArrayList"
					ofType="GongmaeIbchal"
					select="selectGongmaeIbchal"
					/>
		<collection property="mulgeonList" column="공매_목록_고유번호"
					javaType="java.util.ArrayList"
					ofType="GongmaeAroundNagchalMulgeon"
					select="selectGongmaeAroundNagchalMulgeon"
					/>
		<collection property="tonggyeList" column="공매_목록_고유번호"
					javaType="java.util.ArrayList"
					ofType="GongmaeAroundNagchalTonggye"
					select="selectGongmaeAroundNagchalTonggye"
					/>
		<collection property="gamjeongList" column="공매_목록_고유번호"
					javaType="java.util.ArrayList"
					ofType="GongmaeGamjeong"
					select="selectGongmaeGamjeong"
					/>
		<collection property="images" column="공매_목록_고유번호"
					javaType="java.util.ArrayList"
					ofType="GongmaeImage"
					select="selectGongmaeImage"
					/>
	</resultMap>
	
	<select id="selectGongmaeThumb" parameterType="string" resultMap="RM_selectGongmaeThumb">
		select 공매_목록_고유번호, 상단주소, <include refid="gongmaeColumns" />
		  from [수작업입력].[dbo].[공매_기본정보]
		 where [공매_목록_고유번호] = #{goyubeonho}
	</select>
	
	<select id="selectGongmaeDetail" parameterType="string" resultMap="RM_selectGongmaeDetail" >
		select a.공매_목록_고유번호, 상단주소, 위치및부근현황, 이용현황, 기타사항, <include refid="gongmaeColumns" />
		  from [수작업입력].[dbo].[공매_기본정보] a
		  left outer join [수작업입력].[dbo].[공매_위치_이용현황] b
		    on a.[공매_목록_고유번호] = b.[공매_목록_고유번호]
		 where a.[공매_목록_고유번호] = #{goyubeonho}
	</select>
	
	<!-- 공매 면적정보 -->
	<select id="selectGongmaeArea" parameterType="string" resultType="GongmaeArea">
		select 번호 as number, 종별 as jongbyeol, 지목 as jimok, 면적 as area, 지분 as jiboon, 비고 as bigo
		  from [수작업입력].[dbo].[공매_면적정보]
		 where [공매_목록_고유번호] = #{goyubeonho}
	</select>
	
	<!-- 공매  회차별 입찰정보-->
	<select id="selectGongmaeIbchal" parameterType="string" resultType="GongmaeIbchal">
		select 입찰번호 as ibchalNum, 회차 as hoecha, 차수 as chasu, 구분 as gubun, 대금납부 as daegeumNabbu, 납부기한 as nabbuGihan, 입찰기간시작 as ibchalStart, 입찰기간종료 as ibchalEnd, 개찰일시 as gaechal, 개찰장소 as gaechalJangso, 최저입찰가 as minIbchalga
		  from [수작업입력].[dbo].[공매_회차별입찰정보]
		 where [공매_목록_고유번호] = #{goyubeonho} 
	</select>
	
	<!-- 공매 인근 낙찰물건 -->
	<select id="selectGongmaeAroundNagchalMulgeon" parameterType="string" resultType="GongmaeAroundNagchalMulgeon">
		select 번호 as number, 물건명 as mulgeonName, 낙찰금액 as nagchalPrice
		  from [수작업입력].[dbo].[공매_인근낙찰물건]
		 where [공매_목록_고유번호] = #{goyubeonho}
	</select>
	
	<!-- 공매 인근 낙찰 통계 -->
	<select id="selectGongmaeAroundNagchalTonggye" parameterType="string" resultType="GongmaeAroundNagchalTonggye">
		select 통계기간 as tonggyeGigan, 부찰건수 as buchalGeonsu, 낙찰건수 as nagchalGeonsu, ROUND(감정가대비, 2) as gamjeongga, ROUND(최저입찰가대비, 2) as minIbchalga
		  from [수작업입력].[dbo].[공매_인근낙찰통계]
		 where [공매_목록_고유번호] = #{goyubeonho} 
	</select>
	
	<!-- 공매 감정평가정보 -->
	<select id="selectGongmaeGamjeong" parameterType="string" resultType="GongmaeGamjeong">
		select 감정평가기관 as pyeonggaGigwan, 평가일 as pyeonggaDate, 평가금액 as pyeonggaPrice
		  from [수작업입력].[dbo].[공매_감정평가정보]
		 where [공매_목록_고유번호] = #{goyubeonho} 
	</select>
	
	<!-- 공매 이미지 -->
	<select id="selectGongmaeImage" parameterType="string" resultType="GongmaeImage">
		select 이미지  as image, 확장자 as ext
		  from [수작업입력].[dbo].[공매_사진_별도수집]
		 where [atchFilePtcsNo] 
		 	in (select  atchFilePtcsNo 
		 		  from [수작업입력].[dbo].[공매_사진목록] 
		 		 where [공매_목록_고유번호] = #{goyubeonho}
		 	)
	</select>
	<!-- 보상편입물건 -->
	<!-- <select id="selectBosangPyeonibMarker" resultType="string" parameterType="hashmap">
       	select concat(PNU, '|$', 고유번호, '|$', 경도, '|$', 위도) 
          from [수작업].[dbo].[보상물건]
         where 편입보상구분 = #{gubun}
           and 위도 between convert(float, #{swy}) and convert(float, #{ney})
   		   and 경도 between convert(float, #{swx}) and convert(float, #{nex})
   		 order by 경도 asc
	</select> -->
	
	<select id="selectBosangPyeonibMarker" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		<if test='stopGrouping == "N"'>
   		 { call [수작업].[dbo].[SEL_보상물건_맵2](
   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
   		 	#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
   		 	#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{level, mode=IN, jdbcType=	TINYINT, javaType=string},
			#{gubun, mode=IN, jdbcType=	NVARCHAR, javaType=string}
   		 	
   		 ) }
   		 </if>
   		 <if test='stopGrouping == "Y"'>
   		 { call [수작업].[dbo].[SEL_보상물건_맵_noGroup](
   		 	#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
   		 	#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
   		 	#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{ney, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{level, mode=IN, jdbcType=	TINYINT, javaType=string},
			#{gubun, mode=IN, jdbcType=	NVARCHAR, javaType=string}
   		 	
   		 ) }
   		 </if>
	</select>
	
	<resultMap id="RM_selectBosangPyeonibThumb" type="BosangPyeonib">
		<result column="고유번호" property="goyubeonho" javaType="string" />
		<result column="물건소재지" property="mulgeonsojaeji" javaType="string" />
		<result column="PNU" property="pnu" javaType="string" />
		<result column="공고기관" property="gonggogigwan" javaType="string" />
		<result column="사업명" property="saeobname" javaType="string" />
		<result column="공고일" property="gonggoil" javaType="string" />
		<result column="공고번호" property="gonggobeonho" javaType="string" />
		<result column="사업시행자" property="saeobsihaengja" javaType="string"/>
		<result column="시설종류" property="siseolkind" javaType="string" />
		<result column="위도" property="lat" javaType="float" />
		<result column="경도" property="lng" javaType="float" />
	</resultMap>
	
	<select id="selectBosangPyeonibThumb" parameterType="string" resultMap="RM_selectBosangPyeonibThumb">
		select 고유번호, 물건소재지, PNU, 공고기관, 사업명, 공고일, 공고번호, 사업시행자, 시설종류, 위도, 경도
		  from [수작업].[dbo].[보상물건]
		 where 고유번호 = #{unu}
	</select>
	
	<select id="selectBosangPyeonibGroupList" parameterType="hashmap" resultType="string">
		select concat(고유번호, '`', 물건소재지)
		  from [수작업].[dbo].[보상물건]
		 where 고유번호 IN 
		 <foreach collection="gunus" item="item" index="index" separator="," open="(" close=")">
		 	#{item}
		 </foreach>
	     order by 물건소재지
	</select>
	
	<!-- 실거래가 -->
	<!-- <select id="selectSilgeolaeMarker" resultType="string" parameterType="hashmap">
		select concat(PNU, '|$', 경도, '|$', 위도)
		  from
		select concat(PNU, '|$', 경도, '|$', 위도) 
          from [데이터수집].[dbo].[실거래가]
         where 위도 between convert(float, #{swy}) and convert(float, #{ney})
   		   and 경도 between convert(float, #{swx}) and convert(float, #{nex})
   		   and 경도 is not null
   		   and 위도 is not null
   		 order by 경도 asc
	</select>-->
	
	<select id="selectSilgeolaeMarker" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{call [데이터수집].[dbo].[SEL_실거래가_범위]( 
			#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{ney, mode=IN, jdbcType=DECIMAL, javaType=string}
		)}
	</select>
	
	<resultMap id="RM_selectSilgeolaeThumb" type="Silgeolae">
		<result column="PNU" property="pnu" javaType="string" />
		<result column="계약년월" property="gyeyagnyeonwol" javaType="string" />
		<result column="계약일" property="gyeyagil" javaType="string" />
		<result column="계약면적" property="gyeyagarea" javaType="string" />
		<result column="거래금액" property="geolaegeumaeg" javaType="string" />
		<result column="용도" property="yongdo" javaType="string" />
		<result column="지목" property="jimok" javaType="string" />
		<result column="건축년도" property="buildingyear" javaType="string" />
		<result column="층" property="cheung" javaType="string" />
		<result column="단지명" property="danji" javaType="string" />
		<result column="도로조건" property="dorojogeon" javaType="string" />
		<result column="전용면적" property="jeonyongarea" javaType="string" />
		<result column="지번" property="jibeon" javaType="string" />
		<result column="도로명" property="doroname" javaType="string" />
	</resultMap>
	
	<!-- 실거래가 -->
	<select id="selectSilgeolaeThumb" parameterType="string" resultMap="RM_selectSilgeolaeThumb">
		 select a.PNU, a.계약년월, a.계약일, a.대지권면적, a.거래금액, a.지목, a.[지번], a.[용도지역], a.[지분구분], a.[도로조건], a.단지명, a.전용면적, a.층, a.건축년도, a.도로명
  		   from (
				select distinct	a.PNU, a.계약년월, a.계약일, a.대지권면적, a.거래금액, b.지목, a.경도, a.위도,
					   c.[FullName] [지번], c.용도명 [용도지역], null [지분구분], null [도로조건], a.단지명, a.전용면적, a.층, a.건축년도, a.도로명
				  from [데이터수집].[dbo].[실거래가_매매_클린징_최종계약년월] a with (nolock) 
				 inner join [서비스].[dbo].[토지기본정보PNU] b with (nolock, index([PK_토지기본정보PNU])) on (b.PNU=a.PNU)
				  left outer join [지번주소].dbo.전국지번통합 c with (nolock) on (c.PNU=a.PNU)
		  		 where a.pnu = #{pnu}
		) a
	</select>
	
	<!-- 건축허가 -->
	<select id="selectAcceptBuildingMarker" statementType="CALLABLE" parameterType="hashmap" resultType="string">
		{call [수작업입력].[dbo].[SEL_건축허가정보]( 
			#{swx, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{nex, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{swy, mode=IN, jdbcType=DECIMAL, javaType=string},
			#{ney, mode=IN, jdbcType=DECIMAL, javaType=string}
		)}
	</select>
	
	<resultMap id="RM_selectAcceptbuildingThumb" type="AcceptBuilding">
		<result column="고유번호" property="goyubeonho" javaType="string"/>
		<result column="허가구분" property="acceptgubun" javaType="string"/>
		<result column="대지위치" property="daejiwichi" javaType="string"/>
		<result column="허가신고일" property="acceptsingoil" javaType="string"/>
		<result column="건축구분" property="buildinggubun" javaType="string"/>
		<result column="지목" property="jimok" javaType="string"/>
		<result column="대지면적" property="daejiarea" javaType="string"/>
		<result column="건축면적" property="buildingarea" javaType="string"/>
		<result column="건폐율" property="geonpyeyul" javaType="string"/>
		<result column="연면적" property="grossfloorarea" javaType="string"/>
		<result column="용적률" property="yongjeoglyul" javaType="string"/>
		<result column="건축물명칭" property="buildingname" javaType="string"/>
		<result column="주용도" property="mainyongdo" javaType="string"/>
		<result column="주건축물수_동" property="mainbuildingcount" javaType="string"/>
		<result column="부속건축물수_동" property="subbuildingcount" javaType="string"/>
		<result column="착공구분" property="startgubun" javaType="string"/>
		<result column="착공예정일" property="expectedstart" javaType="string"/>
		<result column="실착공일" property="realstart" javaType="string"/>
		<result column="사용승인구분" property="acceptusegubun" javaType="string"/>
		<result column="사용승인일" property="acceptuseday" javaType="string"/>
	</resultMap>
	
	<select id="selectAcceptbuildingThumb" parameterType="string" resultMap="RM_selectAcceptbuildingThumb">
		select 고유번호, 허가구분, 대지위치, 허가신고일, 건축구분, 지목, 대지면적, 건축면적, 건폐율, 연면적, 용적률, 건축물명칭, 주용도, 주건축물수_동, 부속건축물수_동,
			       착공구분, 착공예정일, 실착공일, 사용승인구분, 사용승인일
		  from [수작업입력].[dbo].[건축허가정보]
		 where 고유번호 = #{unu}
	</select>
	
	<!-- 약관 -->
	<select id="selectYaggwanList" resultType="Yaggwan">
		select 카테고리명 as categoryName, 내용 as content, 필수여부 as required
		  from [웹].[dbo].[약관]
		 order by 순서 asc
	</select>
	
	<!-- 상담신청 -->
	<insert id="insertQuestion" parameterType="QnA">
		insert into [웹].[dbo].[문의사항](연락처, 문의사항) 
		values (#{phone}, #{question})
	</insert>
	
	<!-- update 알림 -->
	<select id="selectSystemUpdateInfo" resultType="SystemUpdate">
		select top 1 일련번호 idx, 버전 version, 내용 content, 팝업템플릿 tempNum
		  from [웹].[dbo].[업데이트관리]
		 where DATEDIFF(DD, [적용일자], getDate()) between 0 and 10 
		 order by 일련번호 desc 
	</select>
</mapper>
