<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml,
			/WEB-INF/spring/ds-context.xml,
			/WEB-INF/spring/security-context.xml,
<!-- 			/WEB-INF/spring/amqp-context.xml -->
		</param-value>
	</context-param>
	
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/errors/500.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/errors/403.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/errors/404.jsp</location>
	</error-page>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Spring Security - retrieve user IP, browser info and requested page -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- 
		Spring Security - Can't Login After Clicking Logout
		https://stackoverflow.com/questions/1647855/spring-security-cant-login-after-clicking-logout
	 -->
	<listener>
  		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<!-- Sitemesh -->
	<!-- http://javadox.com/org.sitemesh/sitemesh/3.0.0/org/sitemesh/config/ConfigurableSiteMeshFilter.html -->
	<!-- http://hellowk1.blogspot.kr/2013/06/spring-mvc-sitemesh-3-1.html -->
	<!-- http://stackoverflow.com/questions/15441352/how-to-use-custom-properties-with-sitemesh-3 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.hotplace25.sitemesh.HotplaceSiteMeshFilter</filter-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/sitemesh/sitemesh3.xml</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>rereadableRequestFilter</filter-name>
		<filter-class>com.hotplace25.config.RereadableRequestFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- http://meetup.toast.com/posts/44 -->
	<filter-mapping>
		<filter-name>rereadableRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>manifest</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
